server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      default-filters:
        - RemoveRequestHeader=Cookie
      routes:
        - id: workload-service
          uri: lb://workload-service
          predicates:
            - Path=/api/workloads/**
          filters:
            - PreserveHostHeader

        - id: training-service
          uri: lb://training-service
          predicates:
            - Path=/api/**
          filters:
            - PreserveHostHeader

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
